<!DOCTYPE html>
<head>
</head>
<body>
{% if result %}
<h1>Result found!</h1>
<h2>{{ result }}</h2>
{% endif %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

</body>
