<!DOCTYPE html>
<head>
</head>
<body>
<h1>Calculate something!</h1>

<form action="/api/v1/calculate" method="get">
    <label for="to_calculate"></label>
    <input type="text" name="to_calculate"/>
    <input type="submit" value="calculate"/>
</form>
</body>
